@model Hotel_Sunrise.Models.ListaHabitaciones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListaHabitaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioxDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioxDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ListaHabitacionesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
