@model IEnumerable<Hotel_Sunrise.Models.DetalleReservacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservacion.Observaciones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DetalleReservacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DetalleReservacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DetalleReservacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
